// application.master

@import "global.reset";
@import "global.methods";
@import "global.utility";
@import "application.fonts";

// global vars
@radius: 5px;
@pad: 20px;
@marg: 15px;


html {
	width: 100%; height: 100%;
	background: #000;	
}

body {
	min-width: 100%; height: 100%;
	position: relative;
	font: 13px/normal "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
	background: #FFF;
}

